.wrapper {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
}

.wrapper img {
	width: 100%;
}

.wrapper input {
	width: 100%;
	display: block;
	margin: 5px 0;
}

.don, .me {
	margin: 3px 0;
	border-bottom: 1px solid #999;
}

.don {
	text-align: right;
}
